{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Dashboard{% endblock %}
{% block content %}
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-lg-4 ">
                <br>
                <h3 class="text-center h3">Edita tu perfil</h3>
                <form action="{% url 'account:edit_profile' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">
                        {{ user_form.first_name.errors }}
                        <label for="{{ user_form.first_name.id_for_label }}">Tu nombre</label>
{#                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">#}
                        {{ user_form.first_name }}
                    </div>
                    <div class="form-group">
                        <label for="{{ user_form.last_name.id_for_label }}">Tu Apellido</label>
{#                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">#}
                        {{ user_form.last_name }}
                    </div>
                    <div class="form-group">
                        <label for="{{ profile_form.photo.id_for_label }}">Tu foto de perfil</label>
{#                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">#}
                        {{ profile_form.photo }}
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">Submit</button>
                </form>

            </div>
        </div>
    </div>

{% endblock %}