{% extends 'base.html' %}
<!-- Title -->
{% block title %} Al Noti - Noticias A Tu Mano {% endblock %}
{% load static %}
{% load humanize %}

{% block content %}
    <main class="container">
        <div class="main__section">
            {% for last_news in latest_two_news %}
                <div class="last__news__container">
                    <img class="img-cover-last-news rounded" src="{{ last_news.photo.url }}" alt="">
                    <div class="news-description">
                        <div class="container_tags">
                            <i class="fas fa-tags tags-icon"></i>
                            <ul class="list_tags">
                                {% for tags in last_news.tags.all %}
                                    <li class="list_tags_item">{{ tags.name }}</li>{% if not forloop.last %} {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                        <h5 class="h5"><a class="text-heading" href="{{ last_news.get_absolute_url }}">{{ last_news.title }}</a></h5>
                        <span class="time-news">{{ last_news.publish|date:"SHORT_DATE_FORMAT" }} | {{ last_news.publish|time:"g:i A" }}</span>
                    </div>
                </div>

            {% endfor %}


        </div>
        <div class="row pt-2 container__lastest_news">
            {% for last_news in latest_news %}
                <div class="col-lg-6 container_heading_news_latest">
                    <ul>
                        <li><a href="{{ last_news.get_absolute_url }}">{{ last_news.title }}</a></li>
                    </ul>
                </div>
            {% endfor %}
        </div>
        <hr>
        <div class="container mt-5">
            <h2 class="h2 text-center">Noticias Populares</h2>
            <div class="row mt-4">
                {% for popular_news in popular_news %}
                    <div class="col-lg-4 mb-2 pl-1 pr-1">
                        <div class="container-img-list-news mb-2">
                            <img src="{% if popular_news.photo %}{{ popular_news.photo.url }}{% endif %} "
                             alt="image news popular" class="img-cover-list-news rounded mb-2">
                        </div>
                        <h6 class="h5 mb-1"><a class="link__news"
                                               href="{{ popular_news.get_absolute_url }}">{{ popular_news.title }}</a>
                        </h6>
                        <p class="news_preview_description">{{ popular_news.preview_content }}</p>
                        <span class="news__date_time ">{{ popular_news.publish|date:"SHORT_DATE_FORMAT" }} | {{ popular_news.publish|time:"g:i A" }}</span>
                    </div>
                {% endfor %}

            </div>
        </div>
        <hr>
        <div class="container mt-5">
            <h2 class="h2 text-center">Deportes</h2>
            <div class="row mt-4">
                {% for sport_news in sport_news %}
                    <div class="col-lg-4 mb-2 pl-1 pr-1">
                        <div class="container-img-list-news mb-2">
                            <img src="{% if sport_news.photo %}{{ sport_news.photo.url }}{% endif %} "
                                 alt="image news popular" class="img-cover-list-news rounded mb-2">
                        </div>
                        <h6 class="h5 mb-1"><a class="link__news"
                                               href="{{ sport_news.get_absolute_url }}">{{ sport_news.title }}</a></h6>
                        <p class="news_preview_description">{{ sport_news.preview_content }}</p>
                        <span class="news__date_time ">{{ sport_news.publish|date:"SHORT_DATE_FORMAT" }} | {{ sport_news.publish|time:"g:i A" }}</span>
                    </div>
                {% endfor %}

            </div>
        </div>
        <hr>

    </main>
    <div class="container mt-5 mb-5">
        <hr>
        <h3 class="mt-4 text-center text-capitalize">Últimos Articulos</h3>
        <div class="row pt-2 mt-4">
            {% for last_article in latest_articles %}
                <div class="col-lg-3 mb-2 pl-1 pr-1">
                    <img src="{% if last_article.photo %}{{ last_article.photo.url }}{% endif %}" alt=""
                         class="img-fluid rounded mb-2">
                    <h6 class="h5 mb-1"><a class="link__news"
                                           href="{{ last_article.get_absolute_url }}">{{ last_article.title }}</a></h6>
                    <span class="news__date_time ">{{ last_article.publish|date:"SHORT_DATE_FORMAT" }} | {{ last_article.publish|time:"g:i A" }}</span>
                </div>
            {% endfor %}


        </div>
    </div>
    <div class="container mt-5 mb-5">
        <div class="row">
            <div class="col-lg-12 pl-0">
                <img class="img-fluid" src="{% static 'img/footer-add.gif' %}" alt="banner ad">
            </div>
        </div>
    </div>

{% endblock %}