{% extends 'base.html' %}
{% block content %}
    <h3>dashboard del editor</h3>
    <ul>
        {% for article in articles %}
            <div class="col-lg-8 d-flex justify-content-between text-center">
                <li><a href="{{ article.get_absolute_url }}">{{ article.title }}</a></li><a class="btn btn-warning" href="{% url 'editors:edit_article' article.id %}">Editar</a>
            </div>
        {% empty %}
            <h3>No hay articulos</h3>
        {% endfor %}

    </ul>

{% endblock %}