{% extends 'base.html' %}
{% block title %} Editor Dashboard | Al Noti{% endblock %}
{% block content %}

<div class="container">
    <!--ALERTS-->
    {% include 'partials/_alerts.html' %}
    <div class="row">
        <div class="col-12">
            <h2 class="text-center mt-3">
                Bienvenido {{ request.user.first_name|capfirst }} {{ request.user.last_name|capfirst }}</h2>
            <hr>
            <h4 class="text-center mt-3">Estos son tus articulos</h4>
            <hr>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="list-group">
                        {% for article in articles %}
                            <li class="list-group-item d-flex justify-content-between">
                                <a href="{{ article.get_absolute_url }}">{{ article.title }} <i class="fas"></i> </a>
                                <div class="container-links">
                                    <a href="{% url 'articles:article_edit' article.id %}"
                                   class="btn btn-warning remove-news"><i class="fas fa-pen"></i> Editar</a>
                                    <a href="{% url 'articles:article_delete' article.id %}" class="btn btn-danger"><i class="fas fa-trash"></i> Eliminar</a>
                                </div>
                            </li>
                        {% empty %}
                            <h3>Aún no has creado articulos</h3>
                        {% endfor %}
                    </ul>
                </div>

            </div>
        </div>
    </div>
</div>

{% comment %}<script>
        /*ADD PRODUCT TO CART FUNCTION*/
        function deleteNews() {
            let url = '/account/dashboard/'
            fetch(url)
                .then((response) => {
                    console.log(response)
                })
                .then((data) => {
                    console.log(data)
                })
        }
        window.addEventListener('load', listNews)
    </script>{% endcomment %}


{% endblock %}