{% extends 'base.html' %}
{% block title %}
    Crear Noticia
{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container ">
        <div class="row ">
            <div class="col-8 m-auto">
                <h2 class="text-center mb-3 mt-3">Crear Noticia</h2>
                <form  method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">
                        {{ form.title.errors }}
                        {#                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">#}
                        {{ form.title }}
                    </div>
                    <div class="form-group">
                        {{ form.preview_content.errors }}
                        {#                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">#}
                        {{ form.preview_content }}
                    </div>
                    <div class="form-group">
                        <label for="{{ form.body.id_for_label }}">Contenido de la Noticia</label>
                        {{ form.body.errors }}
                        {#                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">#}
                        {{ form.body }}
                    </div>
                    <div class="form-group">
                        <div class="form-check">
                            <label class="h4" for="{{ form.tags.id_for_label }}">Tags de la noticia</label>
                            {{ form.tags.errors }}
                            {#                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">#}
                            {{ form.tags }}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form.category.errors }}
                        <label class="h4" for="{{ form.category.id_for_label }}">Categoria de la noticia</label>
                        {#                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">#}
                        {{ form.category }}

                    </div>
                    <div class="form-group">

                        {{ form.photo.errors }}
                        <label for="{{ form.photo.id_for_label }}">Imagen</label>
                        {#                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">#}
                        {{ form.photo }}

                    </div>
                    <div class="form-group">
                        {{ form.is_popular.errors }}
                        <label for="{{ form.is_popular.id_for_label }}">¿Es popular?</label>
                        {#                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">#}
                        {{ form.is_popular }}
                    </div>
                    <div class="form-group">
                        {{ form.publish.errors }}
                        <label for="{{ form.publish.id_for_label }}">Fecha de publicación</label>
                        {#                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">#}
                        {{ form.publish }}
                    </div>
                    <div class="form-group">
                        <div class="form-check">
                            {{ form.status.errors }}
                            <label for="{{ form.status.id_for_label }}">Estado de la noticia</label>
                            {#                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">#}
                            {{ form.status }}
                        </div>
                    </div>
                    <button class="btn btn-primary btn-block" type="submit">Crear Noticia</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}