
/* import fonts from fonts.css file */
@import url(./fonts.css);


/* css variables */ 
@import url(./partials/_variables.css);

body {
    font-family: var(--roboto-slab);
    box-sizing: border-box;
    background-color: #f2f2f2;
    padding:0;
    margin: 0;
}
a {
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
.header-logo-area{
    height: 6em;
    display: flex;
    align-items: center;
    justify-content: center;
}
/*navbar*/
.header-nabvar{
    border-top: 2px solid var(--title-color);  
    border-bottom: 1px solid var(--title-color);  
    background-color: #ffffff;
    height: 4em;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* .bg-primary-color{
    background-color: var(--primary-color2);
} */
.navbar_custom{
    display: flex;
    justify-content: center;
}
.nav__list {
    list-style: none;
    margin:auto;
    display: flex;
    padding: .8em;
    
}
.list_link{
    color: var(--title-color);
    text-decoration: none;
    padding-right: .8em;
    padding-left: .8em;
    font-weight: 500;
    
}
.list_link:not(last-child){
    border-right: 1px solid var(--title-color);
}
.list_link:hover{
    
    color: var(--primary-color);
}
.auth-container{
    width: 100%;
    display: flex;
    align-items: center;
    height: 100%;
}
.auth-container a {
    color: var(--title-color);
    font-weight: 500;
    border-bottom: 1px solid transparent;
}
.auth-container a:hover {
    border-bottom: 1px solid var(--title-color);
    color: var(--title-color);
}
.auth-container a i{
    margin-right: .3em;
}

/*MAIN SECTION*/
.main__section{
    padding:2em 0;
    display: flex;
}
.last__news__container{
    position: relative;
    margin: .1em;
    min-width: 50%;
    height: 400px;
}
.img-cover-last-news{
    max-width: 100%;
    min-width: 100%;
    height: 400px;

}
.img-cover-list-news{
    max-width: 100%;
    min-width: 100%;
    height: 200px;

}
.container-img-list-news{
    width: 360px;
    height: 200px;
}
.container-img-news-detail{
    width: 730px;
    height: 410px;
}
.img-news-detail{
    max-width: 100%;
    min-width: 100%;
    height: 410px;
}


.last__news__container::before{
    content: "";
    width: 100%;
    height: 100%;
    background-image: -webkit-linear-gradient(-90deg, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0.01) 0%, black 100%);
    position: absolute;
    border-radius: 2px;
}
.news-description{
    position: absolute;
    bottom:0;
    width: 100%;
    padding: .5em 1em;
    font-family: var(--roboto-slab);
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}
.container_tags{
    display: flex;
    align-items: center;
    padding: .3em .2em;
    margin-bottom: .2em;
}
.tags-icon{
    margin-right: .5em;
    font-size: .9em;
    color: #ffffff;
}
.list_tags{
    list-style: none;
    padding:0;
    display: flex;
    margin-bottom: .2em;
}
.list_tags_item{
    margin-right: .4em;
    color: #f2f2f2;
    font-size: .8em;
    border-bottom: 1px solid yellow;
}
.text-heading{
    color: #f2f2f2;
}
.text-heading:hover {
    text-decoration: underline;
    color: #ffffff;
}
.time-news{
    color: #f2f2f2;
    font-size: .8em;    
}
.container__lastest_news{
    border-top: 2px solid var(--title-color);
}
.container_heading_news_latest{
    position: relative;
    
}
.container_heading_news_latest ul {
    margin-left: -1em;
    margin-bottom: .4em;
    
}

.container_heading_news_latest ul a{
    color: var(--title-color);
    text-decoration: underline;
}
.container_heading_news_latest ul a:hover{
    text-decoration: underline;
    color: var(--primary-color);
}
.news_preview_description{
    color: var(--text-color);
    margin-bottom: .2em;
    font-size: .9em;
}
.link__news{
    color: var(--title-color);
}
.link__news:hover{
    color: var(--title-color);
    text-decoration: underline;
}
.news__date_time{
    color: var(--text-color);
    font-size: .8em;
}


/*VIDEOS SECTION*/
video {
    max-width: 100%;
}
.footer_area{
    width: 100%;
    padding-top: 2em;
    padding-bottom: 2em;
    border-top: 2px solid var(--title-color);
}
.container_social_networks{
    width: 50%;
    padding-top: .5em;
    padding-bottom: .5em;
    
}
.container_social_networks i {
    font-size: 1.5em;
    color: var(--title-color);
    margin-right: .3em;
}
.fa-heart {
    color: red;
}
.paragraph-news-single{
    color: var(--text-color);
    line-height: 30px;
    
}
.container-post-single {
    display: flex;
}
.ul-post-single {
    list-style: none;
    padding:0;
    display: flex;
    margin-bottom: .2em;
    margin-left: .2em;
}

.list-item-post{
    margin-right: .4em;
    color: white;
    font-size: .95em;
    background-color: var(--primary-color);
    border-radius: 3px;
    padding: 0 .2em;
}
